.footer-top {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h3 {
        color: white;
    }

    ul {
        li {
            a {
                font-size: 0.8rem;
                color: #858980;
            }
        }
    }

    .col-12 {
        font-size: 0.9rem;
        color: #858980;

        a {
            color: #0282f9;
        }
    }


    .logo-dc {
        background-image: url('../img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-size: 600px;
        background-position-x: right;
        background-position-y: -50px;
    }
}

.footer-bottom {
    background-color: #303030;

    ul {
        li {
            margin-left: 0.8rem;
        }
    }
}