.footer-top {
    background-image: url('../img/footer-bg.jpg');

    h3 {
        color: white;
    }

    ul {
        li {
            a {
                font-size: 0.8rem;
                color: #858980;
            }
        }
    }

    .col-12 {
        font-size: 0.8rem;
        color: #858980;

        a {
            color: blue;
        }
    }
}