nav {
    .img-fluid {
        max-width: 80%;
    }

    div {
        ul {
            display: flex;
            align-items: center;
            gap: 20px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

#jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}