#comics {
    background-color: #1c1c1c;
    padding: 20px;

    .label {
        width: 180px;
        height: 40px;
        background-color: #0282f9;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;

        position: relative;
        bottom: 40px;
        left: 0;
    }
}